[line_break]
disabled = true

[cmd_duration]
disabled = true

[character]
success_symbol = "[➜](bold green) "
error_symbol = "[✖](bold red)"

[username]
style_user = "yellow bold"
style_root = "red bold"
format = "[$user]($style)"
disabled = false
show_always = true

[hostname]
ssh_only = false
format =  "@[$hostname](bold blue) "
disabled = false

[aws]
disabled = true

[aws.region_aliases]

[battery]
disabled = true

[cmake]
disabled = true

[cobol]
disabled = true

[conda]
disabled = true

[crystal]
disabled = true

[dart]
disabled = true

[deno]
disabled = true

[directory]
disabled = true


[directory.substitutions]

[docker_context]
disabled = true

[dotnet]
disabled = true


[elixir]
disabled = true

[elm]
disabled = true

[env_var]

[erlang]
disabled = true

[fill]
style = 'bold black'
symbol = '.'

[gcloud]
disabled = true

[gcloud.region_aliases]

[git_branch]
disabled = true

[git_commit]
disabled = true

[git_metrics]
disabled = true

[git_state]
disabled = true

[git_status]
disabled = true

[golang]
disabled = true

[helm]
disabled = true

[hg_branch]
disabled = true

[java]
disabled = true

[jobs]
disabled = true

[julia]
disabled = true


[kotlin]
disabled = true

[kubernetes]
disabled = true

[kubernetes.context_aliases]

[lua]
disabled = true

[memory_usage]
disabled = true

[nim]
disabled = true


[nix_shell]
disabled = true

[nodejs]
disabled = true

[ocaml]
disabled = true

[openstack]
disabled = true

[package]
disabled = true

[perl]
disabled = true

[php]
disabled = true

[purescript]
disabled = true

[python]
disabled = true


[red]
disabled = true

[rlang]
disabled = true

[ruby]
disabled = true

[rust]
disabled = true

[scala]
disabled = true

[shell]
disabled = true

[shlvl]
disabled = true

[singularity]
disabled = true

[status]
disabled = true

[swift]
disabled = true

[terraform]
disabled = true

[time]
disabled = true


[vagrant]
disabled = true

[vcsh]
disabled = true

[vlang]
disabled = true

[zig]
disabled = true